In [2]:
import pandas as pd
df = pd.read_excel("/Users/FeliciaWilliams/Documents/GitHub/GA_Projects/GA Classes (Local)/pandas_practice/ElecmartSales.xlsx")
df.head()

,Date,Day,Time,Region,Card Type,Gender,Buy Category,Items Ordered,Total Cost,High Item
0,2016-03-06,Sun,Morning,West,ElecMart,Female,High,4,136.97,79.97
1,2016-03-06,Sun,Morning,West,Other,Female,Medium,1,25.55,25.55
2,2016-03-06,Sun,Afternoon,West,ElecMart,Female,Medium,5,113.95,90.47
3,2016-03-06,Sun,Afternoon,NorthEast,Other,Female,Low,1,6.82,6.82
4,2016-03-06,Sun,Afternoon,West,ElecMart,Male,Medium,4,147.32,83.21

In [11]:
df.shape

(400, 10)

In [3]:
print(df[1:2])

        Date  Day     Time Region Card Type  Gender Buy Category  \
1 2016-03-06  Sun  Morning   West     Other  Female       Medium

   Items Ordered  Total Cost  High Item
1              1       25.55      25.55

In [4]:
df.columns = ['date', 'day', 'time', 'region', 'cardtype', 'gender', 'buycategory', 'itemsordered', 'totalcost', 'highitem']

In [5]:
df.head()

,date,day,time,region,cardtype,gender,buycategory,itemsordered,totalcost,highitem
0,2016-03-06,Sun,Morning,West,ElecMart,Female,High,4,136.97,79.97
1,2016-03-06,Sun,Morning,West,Other,Female,Medium,1,25.55,25.55
2,2016-03-06,Sun,Afternoon,West,ElecMart,Female,Medium,5,113.95,90.47
3,2016-03-06,Sun,Afternoon,NorthEast,Other,Female,Low,1,6.82,6.82
4,2016-03-06,Sun,Afternoon,West,ElecMart,Male,Medium,4,147.32,83.21

In [7]:
#1. During which Time of the day do customers spend the most (based on Total Cost)?
df.groupby('time').totalcost.sum()

time
Afternoon    24265.60
Evening      18834.30
Morning      18427.31
Name: totalcost, dtype: float64

In [8]:
#2. Do male customers spend more than females (based on Total Cost)?
df.groupby('gender').totalcost.sum()

gender
Female    36895.26
Male      24631.95
Name: totalcost, dtype: float64

In [9]:
#3. Which Region brought in the highest revenue (based on Total Cost) for ElecMart?
df.groupby('region').totalcost.sum()

region
MidWest       9618.27
NorthEast    19185.84
South        13429.70
West         19293.40
Name: totalcost, dtype: float64

In [24]:
#4. Is the ElecMart card more popular among female or male customers?
df_elecmart = df.loc[df[df['cardtype'] == 'ElecMart'].index]
df_elecmart.groupby('gender').cardtype.count()

gender
Female    61
Male      33
Name: cardtype, dtype: int64

In [31]:
df.groupby(['gender','cardtype']).cardtype.count()

gender  cardtype
Female  ElecMart     61
        Other       173
Male    ElecMart     33
        Other       133
Name: cardtype, dtype: int64

In [33]:
#5. Which Day of the week brought in the highest revenue for ElecMart?
df['totalrevenue'] = df['itemsordered'] * df['totalcost']
df.groupby('day').totalrevenue.sum()

day
Fri    44059.21
Mon    44270.78
Sat    54023.28
Sun    40436.97
Thu    33813.95
Tue    21877.58
Wed    42837.23
Name: totalrevenue, dtype: float64

In [35]:
#6. Among ElecMart card-holders, which Region brought in the highest revenue?
df[df['cardtype'] == 'ElecMart'].groupby('region').totalrevenue.sum()

region
MidWest      14110.15
NorthEast    45806.38
South        18731.29
West         38702.45
Name: totalrevenue, dtype: float64

In [38]:
#7. Which Region has the greatest number of female customers?
df[df['gender'] == 'Female'].groupby('region').gender.count()

region
MidWest      43
NorthEast    62
South        63
West         66
Name: gender, dtype: int64

In [39]:
#8. Female customers prefer to place orders at ElecMart in the morning. True or False?

In [40]:
#9. Male customers prefer to place orders in the evening. True or False?

In [41]:
#10. How many of the orders were placed by females in the South region?