Challenge 3: Multiples of 3 and 5
If we list all of the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6, and 9. The sum of these multiples is 23. Find the sum of all the multiples of 3 and 5 below 1,000. Afterward, write a brief explanation walking through your code's logic in markdown.

In [1]:
def sum_multiples(n,j,k):
    sum = 0
    for i in range (0,n):
        if i % j == 0 or i % k == 0:
            sum = sum + i
    print(sum)

In [2]:
sum_multiples(10,3,5)

23

In [3]:
sum_multiples(1000,3,5)

233168

In [4]:
sum_multiples(1000,4,6)

165834

In [7]:
def sum_multiples(n,j,k):
    sum = 0
    multiples = []
    for i in range (1,n):
        if i % j == 0 or i % k == 0:
            sum = sum + i
            multiples.append(i)
    print(sum)
    print(multiples)

In [9]:
sum_multiples(100,3,5)

2318
[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99]